@using CrediWeb.Models.Entities
@model List<TarjetaCredito>
@{
    ViewData["Title"] = "Pagos";
}
<div class="text-center">
    <div class="container container-fluid mt-3">
        <div class="row col-12 px-0 mx-0">
            <div class="col-sm-6 col-md-6 col-lg-6 px-0">
                <button class="btn btn-success float-left" id="btn-new-pago" data-toggle="modal" data-target="#ModalPago">Nuevo Pago</button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 px-0">
                <h2 class="float-right">Pagos</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="tabla-pagos">
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalPago" tabindex="-1" role="dialog" aria-labelledby="ModalNewPago" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Nuevo Pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-nuevo-pago" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Tarjeta" class="col-form-label">Tarjeta:</label>
                        <select class="form-control" id="Tarjeta" required>
                            <option value="0">Selecccione Tarjeta</option>
                            @foreach (var tarjeta in Model)
                            {
                                <option value="@tarjeta.TarjetaID">@tarjeta.NumeroTarjeta</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Monto" class="col-form-label">Monto: $</label>
                        <input type="text" class="form-control" id="Monto" name="Monto" inputmode="decimal" pattern="^\d{1,10}(\.\d{1,2})?$" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')" maxlength="13" required>
                    </div>
                    <div class="form-group">
                        <label for="MetodoPago" class="col-form-label">Metodo Pago:</label>
                        <select class="form-control" id="MetodoPago" required>
                            <option value="0">Selecccione Metodo</option>
                            <option value="Banca Electronica">Banca Electronica</option>
                            <option value="Ventanilla Banco">Ventanilla Banco</option>
                            <option value="Punto de Pago">Punto de Pago</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="btn-realizar-pago">Realizar Pago</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/scripts/Pagos.js"></script>
    <script>
        var urlNewPago = '@Url.Action("AddPago", "Transactions")';
        var urlGetPagos= '@Url.Action("GetPagos", "Transactions")';
    </script>
}